name: Model-CI-Docker-Push

on:
  push:
    branches: [ main ]

jobs:
  train-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install deps
        run: |
          pip install mlflow pandas scikit-learn joblib

      - name: Train model
        run: |
          mlflow run MLProject --env-manager local

      - name: Check model exists
        run: |
          test -f random_forest_model/model.pkl

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Image
        run: |
          mlflow models build-docker \
            -m random_forest_model \
            -n ${{ secrets.DOCKER_USERNAME }}/heart-disease-ci:latest \
            --install-mlflow

          docker push ${{ secrets.DOCKER_USERNAME }}/heart-disease-ci:latest
