name: Model-CI-Docker-Push

on:
  push:
    branches: [ main ]

jobs:
  train-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install mlflow pandas scikit-learn joblib

      - name: Run MLflow Project (Training)
        run: |
          mlflow run MLProject --env-manager local

      - name: Validate Model Folder
        run: |
          if [ ! -f model/model.pkl ]; then
            echo "❌ Model file not found"
            exit 1
          fi
          echo "✅ Model file exists"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          mlflow models build-docker \
            -m model \
            -n "${{ secrets.DOCKER_USERNAME }}/heart-disease-ci:latest" \
            --install-mlflow

          docker push ${{ secrets.DOCKER_USERNAME }}/heart-disease-ci:latest
