name: Model-CI-Docker-Push

on:
  push:
    branches: [ main ]

jobs:
  train-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install mlflow pandas scikit-learn

      - name: Run MLflow Project (Training)
        run: |
          mlflow run ./MLProject --env-manager local

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          # PENTING: path relatif ke MLProject
          mlflow models build-docker \
            -m "random_forest_model" \
            -n "${{ secrets.DOCKER_USERNAME }}/heart-disease-ci:latest" \
            --install-mlflow

          docker push ${{ secrets.DOCKER_USERNAME }}/heart-disease-ci:latest
